{% extends 'base/base.html' %}
{% load static %}
{% block links %}
<!-- Bootstrap select CSS -->
<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">
<!-- Custom CSS -->
<link type="text/css" rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock %}
{% block content %}
<title>Productos</title>
<style type="text/css">
  .Fecha{width:200px;}
</style>
  <aside class="asideDer">
    <h1 class="d-flex justify-content-center">Productos en inventario</h1>
  </aside>
  <br>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6 align-self-center">
        <aside class="asideIzq">
          <form method="post">
            {%csrf_token%}
            <div class="row" >
              <label name="fechaK" id="fechaK" for="colFormLabel" class="col-sm-2 col-form-label">Fecha</label>
              <input name="fechaK" id="fechaK" class="form-control Fecha" type="date">
              <button style=" text-align: center;" type="submit" class="btn btn-primary">Cierre Contable</button>
            </div>
          </form>
        </aside>
      </div>
    </div>
  </div>
  <br>
  <div class="container">
      <div class="row">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Marca</th>
            <th scope="col">Categoria</th>
            <th scope="col">Estado</th>
            <th scope="col">Stock Minimo</th>
            <th scope="col">Stock Maximo</th>
            <th scope="col">Existencias</th>
            <th scope="col"> <a class="btn btn-info" href="{%url 'registrarProducto'%}">Agregar</a></th>
          </tr>
        </thead>  
          <tbody>
          {%if productos%}
            {% for Producto in productos%}
            <tr>
            <td>{{Producto.nombre}}</td>
            <td>{{Producto.descripcion}}</td>
            <td>{{Producto.marca}}</td>
            <td>{{Producto.categoria}}</td>
            <td>{{Producto.estado}}</td>
            <td>{{Producto.stockMinimo}}</td>
            <td>{{Producto.stockMaximo}}</td>
            <td>{{Producto.existencias}}</td>
            <td>
            <a href="{%url 'updateProducto' Producto.idProducto%}" class="btn btn-outline-warning"><i class="material-icons">edit</i></a>
            <a class="btn btn-secondary" href="{%url 'Periodos' Producto.idProducto%}">Kardex</a>  
            </td>
            </tr>
            
            {% endfor %}
          
          {% endif%}

          </tbody>
        </table>
      </div>
  </div>

   
{% endblock %}
