


*, ::after, ::before {-moz-box-sizing: border-box; box-sizing: border-box;}

    
#galeria {
  background: #fff ;
  display: 	block;
  max-width: 900px;
  margin: 0rem auto;
  padding: 0 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), 0 15px 15px -12px rgba(0, 0, 0, 0.35);
  text-align: center;
  border-radius: 3px;
 }
 #mydiv {
  position:fixed;
  top: 50%;
  left: 50%;
  width:30em;
  height:18em;
  margin-top: -9em; /*set to a negative number 1/2 of your height*/
  margin-left: -15em; /*set to a negative number 1/2 of your width*/
  border: 1px solid #ccc;
  background-color: #f3f3f3;
  }
figure#filtro {
  margin: 0 0 15px;
  padding: 0;
  text-align: center;
  letter-spacing: 10px;
 }
figure#filtro img {
  width: 0px;
  margin: 20px 0 0 0;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), 0 15px 15px -12px rgba(0, 0, 0, 0.55);
  border-top: 0px  #ffffff;
  -webkit-transition: width 2s; 
  transition: width 2s;
 }
   
    input#general:checked ~ figure img.general { width: 450px;}
    input#general:checked ~ figure img:not(.general) { opacity: 0; position: absolute; top: 0; left: 50%;} 
    input#costos:checked ~ figure img.costos { width: 450px;}
    input#costos:checked ~ figure img:not(.costos) { opacity: 0; position: absolute;  top: 0; left: 50%;} 

    
   
    
    input[type=radio] { display: none; }
    label {
      position: relative;
      padding:.5rem;
      border-radius: 3px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      border: 1px solid rgba(0,0,0,.1);
      display: inline-block;
      margin: 15px 1px 0 0;
      background: #FF7070;
     }
    label:hover { cursor: pointer; background: #e5e5e5; color: tomato; transition: .4s;}
    input#x + label {padding:5px; border-radius: 50%; background: #eee; color: #999; font-size: 1.5rem; box-shadow: 0 0 2px rgba(0, 0, 0, 0.5), 0 5px 8px -4px rgba(0, 0, 0, 0.45) inset; }
    input#x + label:hover, input#x:checked + label {background: tomato; color: #fff; transition: .4s;}
    input:checked + label { background: rgba(0, 0, 0, 0.25); text-shadow: 0 0 1px #222222; color: #fff; box-shadow: 0 0 2px rgba(0, 0, 0, 0.5), 0 5px 8px -4px rgba(0, 0, 0, 0.45); border-color: #fff;}